<div class="profile mt-5 d-flex">
  <div class="user-picture" style="">
    <img class="picture" style="border-radius: 50%;width: 300px;height:300px" src="
    {{#if profile.image}}
    {{profile.image}}
    {{else}}
    https://i.imgur.com/rRivrc6.jpg
    {{/if}}
    " alt="">
  </div>

  <div class="user-profile ml-3 p-3">
    <h1>{{profile.name}}</h1>
    <p>{{profile.email}}</p>
    <p>{{profile.Comments.length}} 已評論餐廳</p>

    {{#ifCond user.id profile.id }}

    <a class="btn btn-primary" href="/users/{{profile.id}}/edit">
      Edit
    </a>

    {{/ifCond}}

  </div>

</div>
<br />

<hr>
<h3>{{commentedRest}} 已評論餐廳</h3>
<hr>

<br />


<div class="restPic d-flex flex-wrap">
  {{#each profile.Comments}}
  <div class="card m-3">
    <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}"
        style="height: 100px;width: 150px;"></a>
  </div>
  {{/each}}
</div>


<br />

<hr>

<br />
<br />

<a href="javascript:history.back()">回上一頁</a>