<div class="profile mt-5 d-flex">
  <div class="user-picture" style="">
    <img class="picture" style="border-radius: 50%;width: 300px;height:300px" src="
    {{#if profile.image}}
    {{profile.image}}
    {{else}}
    https://i.imgur.com/rRivrc6.jpg
    {{/if}}
    " alt="">
  </div>

  <div class="user-profile ml-3 p-3">
    <h1>{{profile.name}}</h1>
    <p>{{profile.email}}</p>
    <p><strong>{{noRepeatCommentRests.length}}</strong> 已評論餐廳</p>
    <p><strong>{{profile.FavoritedRestaurants.length}}</strong> 收藏的餐廳</p>
    <p><strong>{{profile.Followings.length}}</strong> followings (追蹤者)</p>
    <p><strong>{{profile.Followers.length}}</strong> followers (追隨者)</p>

    {{#ifCond user.id profile.id }}
    <a class="btn btn-primary" href="/users/{{profile.id}}/edit">
      Edit
    </a>
    {{else}}
    {{#if this.isFollowed }}
    <form action="/following/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;"><button
        type="submit" class="btn btn-danger">取消追蹤</button></form>
    {{else}}
    <form action="/following/{{profile.id}}" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-primary">追蹤</button></form>
    {{/if}}

    {{/ifCond}}

  </div>

</div>
<br />
<hr>

<div class="row mt-5">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h5><strong>{{profile.Followings.length}}</strong> followings (追蹤者)</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap">
          {{#each profile.Followings}}
          <div class="m-3">
            <a href="/users/{{this.id}}">
              <img src="{{this.image}}" style="height: 100px;width: 100px;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h5><strong>{{noRepeatCommentRests.length}}</strong> 已評論餐廳</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap">
          {{#each noRepeatCommentRests}}
          <div class="m-3">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" style="height: 100px;width: 100px;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row mt-5">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h5><strong>{{profile.Followers.length}}</strong> followers (追隨者)</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap">
          {{#each profile.Followers}}
          <div class="m-3">
            <a href="/users/{{this.id}}">
              <img src="{{this.image}}" style="height: 100px;width: 100px;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h5><strong>{{profile.FavoritedRestaurants.length}}</strong> 收藏的餐廳</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-wrap">
          {{#each profile.FavoritedRestaurants}}
          <div class="m-3">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" style="height: 100px;width: 100px;">
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</div>


<br />
<br />
<hr>
<a href="javascript:history.back()">回上一頁</a>